[submodule "thirdparty/clip"]
	path = thirdparty/clip
	url = https://github.com/dacap/clip
	shallow = true
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
	shallow = true
